html, body {
    height: 100%;
}

html {
    /* display: table; */
    margin-left: 14%;
    margin-right: 14%;
}

body {
    /* display: table-cell; */
    /* vertical-align: middle; */
}

body{
	background-size:cover;
	/* background-image: url(../img/wave.jpg);  */
	background-position: right center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* font-family: 'Lato', Verdana, Helvetica, sans-serif; */
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	/* text-align:center; */

}

h1 {
  /* font-weight:normal; */
	/* color:#ffff00; */
	/*margin-top: 25px;
	margin-bottom: 30px;*/
	/* font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; */
}

h2 span {
	background-color: rgba(163, 194, 194, 0.6);
	border:1px solid #021a40;
}

hr.thin {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1.header {
  font-weight:normal;
  text-align:center;
}

#profile-pic{
	width: 225px;
	height: 225px;
	background-image: url('../img/profile.png');
	background-size: cover;
	display: block;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	border:1px solid #021a40;
  max-width:100%;
  white-space:nowrap;
}

#footer {
	margin-top:20px;
	margin-bottom:20px;
	bottom:2px;
	color:#000000;
	text-shadow: 2px 2px #ffffff;
	font-weight: bold;
	font-family: monaco, Consolas, "Lucida Console", monospace;
  text-align: center;
}

.paper-title {
  font-weight: bold;
}

a.imageLink{
    text-decoration:none;
}
a.imageLink:hover{
    text-decoration:none;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}


.row {
  /* display: flex; */
}

.column {
  /* flex: 50%; */
  padding: 25px;
  float: left;
}
